<div class='main-nav'>
  <div class='navbar navbar-inverse'>
      
      <div class='navbar-collapse collapse'>
          <ul class='nav navbar-nav'>
              <li [routerLinkActive]="['link-active']">
                  <a [routerLink]="['/home']">
                      <span class='glyphicon glyphicon-home'></span> Inicio
                  </a>
              </li>               
              <li [routerLinkActive]="['link-active']">
                  <a [routerLink]="['/login']">
                      <span class='glyphicon glyphicon-user'></span> Login
                  </a>
              </li>
          </ul>
      </div>
  </div>
</div>
