
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>
      TODIBO TV
    </h1>

    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="/src/prueba.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Video</h5>
        <p class="card-text">Información sobre el video aksjhdkalsndlakmdkansldknalskdnlaksndlkdan.</p>
        <a href="#" class="btn btn-secondary">Reproducir</a>
        <!--<button id="boton-guardar">Guardar</button><br>-->
        <input type="text" id="nom" placeholder="nom" required>
        <input type="number" id="nota" placeholder="nota" required>
        <button id="desar">desa</button>
        <button id="esborrar">esborra</button>
        <button id="netejar">neteja</button>
        <table class="m08" id="taula">
        </table>
      </div>
    </div>

  </body>
</html>
