
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>
      TODIBO TV
    </h1>

    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="/src/prueba.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Video</h5>
        <p class="card-text">Información sobre el video aksjhdkalsndlakmdkansldknalskdnlaksndlkdan.</p>
        <a href="#" class="btn btn-secondary">Reproducir</a>
        <a href="#" class="btn btn-secondary">Añadir a Favoritos</a>
      </div>
    </div>

  </body>
</html>
