<!--<h3>{{pelicula.name}}</h3>
<p>Descripción: {{pelicula.description}}</p>
<p>Director: {{pelicula.nomDirector}}</p>
<button>PLAY</button>-->

<!--<div>
    <img src="/src/prueba.jpg">
</div>
<h3>{{pelicula.name}}</h3>
<p>Descripción: {{pelicula.description}}</p>
<p>Director: {{pelicula.nomDirector}}</p>
<div [routerLinkActive]="['link-active']">
    <a [routerLink]="['/video']">
        <span class='glyphicon glyphicon-play'></span> PLAY
    </a>
</div>-->

<div>
    <img src={{pelicula.imagen}}>
</div>
<h3>{{pelicula.name}}</h3>
<p>{{pelicula.nomDirector}}</p>
<p>{{pelicula.description}}</p>
<div [routerLinkActive]="['link-active']">
    <a [routerLink]="['/video']">
        <span class='glyphicon glyphicon-play'></span> PLAY
    </a>
</div>
<br>
