<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="container-fluid">
      <h2 class="form-signin-heading">Login</h2>
      <div *ngIf="invalidLogin" class="alert alert-danger">Usuario o contraseña incorrectos.</div>
      <br/>
      <label for="username" class="sr-only">Usuario</label>
      <input type="email" id="username" name="username" ngModel class="form-control" placeholder="Usuario" required autofocus>
      <br/>
      <label for="password" class="sr-only">Contraseña</label>
      <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Contraseña" required>
      <br/>
      <button id="login" class="btn btn-lg btn-primary btn-block" type="submit">Aceptar</button>
  </div>
</form>